body{
    display: flex;
    flex-direction: column;
    margin: 0;
    height: 100vh;
    justify-content: space-between;
    align-items: center;
    font-family: 'Yanone Kaffeesatz', sans-serif;

}
.calc{
    display: flex;
    flex-direction: column;
    width: auto;
    padding: 5px;
    border: 4px solid rgb(0, 0, 0);
    border-radius: 8px;
    box-shadow: 1px 2px 8px 10px cadetblue;
}
.display{
    height: 120px;
    margin: 5px;
    border: 2px solid black;
    border-radius: 5px;
    background-color:rgb(248, 244, 228);
    display: flex;
    align-items: center;
    justify-content: flex-end;
    font-size: 40px;
}
.btn{
    width: 70px;
    height: 70px;
    margin: 5px;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:rgb(211, 240, 240);
    transition-duration: 0.5s;
}
img{
    width: 30px;
    height: auto;
}
.firstRow{
    display: flex;
}
.secRow{
    display: flex;
}
.thirdRow{
    display: flex;
}
.fourthAndfifthRow{
    display: flex;
}
.numRow{
    display: flex;
}
.otherRow{
    display: flex;
}
.secondCol{
    display: flex;
    flex-direction: column;
}
.plus{
    height: 100%;
}
.btn:hover{
    border-radius: 10px;
}
.footer{
    font-size: 30px;
    background-color: rgb(192, 248, 229);
    box-shadow: 1px 1px 8px 10px rgb(192, 248, 229);
    transition-duration: 0.5s;
}
.footer:hover{
    font-size: 40px;
    box-shadow: 1px 1px 20px 10px rgb(192, 248, 229);
}