body{
    display: flex;
    flex-direction: column;
    margin: 0;
    height: 100vh;
    justify-content: space-between;
    align-items: center;
}
.calc{
    display: flex;
    flex-direction: column;
    width: auto;
    padding: 5px;
    border: 2px solid black;
}
.display{
    height: 120px;
    margin: 5px;
    border: 2px solid black;
}
.btn{
    width: 70px;
    height: 70px;
    margin: 5px;
}
img{
    width: 10px;
    height: auto;
}
.firstRow{
    display: flex;
}
.secRow{
    display: flex;
}
.thirdRow{
    display: flex;
}
.fourthAndfifthRow{
    display: flex;
    border: 2px solid green;
}
.numRow{
    display: flex;
}
.otherRow{
    display: flex;
}
