body{
    display: flex;
    flex-direction: column;
    margin: 0;
    height: 100vh;
    justify-content: space-between;
    align-items: center;
    font-family: 'Yanone Kaffeesatz', sans-serif;

}
.calc{
    display: flex;
    flex-direction: column;
    width: auto;
    padding: 5px;
    border: 4px solid rgb(0, 0, 0);
    border-radius: 8px;
    box-shadow: 1px 2px 8px 10px cadetblue;
}
.display{
    height: 120px;
    margin: 5px;
    border: 2px solid black;
    border-radius: 5px;
    background-color:cornsilk;
}
.btn{
    width: 70px;
    height: 70px;
    margin: 5px;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}
img{
    width: 30px;
    height: auto;
}
.firstRow{
    display: flex;
}
.secRow{
    display: flex;
}
.thirdRow{
    display: flex;
}
.fourthAndfifthRow{
    display: flex;
}
.numRow{
    display: flex;
}
.otherRow{
    display: flex;
}
.secondCol{
    display: flex;
    flex-direction: column;
}
#plus{
    height: 100%;
}
