body{
    display: flex;
    flex-direction: column;
    margin: 0;
    height: 100vh;
    justify-content: space-between;
    align-items: center;
}
.calc{
    display: flex;
    flex-direction: column;
}
img{
    width: 10px;
    height: auto;
}
.firstRow{
    display: flex;
}
.secRow{
    display: flex;
}
.thirdRow{
    display: flex;
}
.fourthAndfifthRow{
    display: flex;
}
.numRow{
    display: flex;
}
.otherRow{
    display: flex;
}
.display{
    border: 2px solid black;
}